body{
    height: 100%;
    background-color: rgb(88, 185, 49);
    background-size: 100%;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.max>div{margin-bottom: 20px;}
div{font-size: 25px;}
td{padding: 5px;border: 1px solid ;}