body{
    margin: 0px;
    background-color: aliceblue;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 100px);
    grid-gap: 0px;
    grid-auto-rows: auto;
    
}

.row2{
    grid-row: 2;
    grid-column: 2 / 6;
    background-color: rgb(121, 121, 121);
    grid-row-end: auto;
   
}
.row3{
    grid-row: 3;
    grid-column: 6 / 7;
    background-color: rgb(121, 121, 121);
    grid-row-end: auto;
}
.row4{
    grid-row: 4;
    grid-column: 2 / 6;
    background-color: rgb(121, 121, 121);
    grid-row-end: auto;
}
