body{
	background-color: #c5c5ff;
}
#a1, #a2, #a3, #a4, #a5 {
    position: relative;
	height: 200px;
	width: 200px;
   } 
 
   #a1 { z-index: 1; }
   #a2 { z-index: 1; }
   #a3 { z-index: 2; }
   #a4 { z-index: 2; }
   #a5 { z-index: 2; }
#a1{
	top: 200px;
	left: 500px;
}
#a2{
	top: 200px;
	left: 495px;
}
#a3{
	top: 50px;
	left: 190px;
}
#a4{
	top: 350px;
	left: -220px;
}
#a5{
	top: 350px;
	left: 0px;
}
