.a1{
    height: 120px;
    width: 120px;
    animation-name: move-sandglass;
    animation-duration: 3s;
    animation-iteration-count: 10;
    animation-direction: normal;

}
img{
    height: 250px;
    width: 250px;
}
@keyframes move-sandglass{
    from{transform: translate3d(0px, 0px, 0px);}
    25%{transform: translate3d(500px, 0px, 0px);}
    50%{transform: translate3d(0px, 500px, 0px);}
    75%{transform: translate3d(500px, 500px, 0px);}
    to{transform: translate3d(0px, 0px, 0px);}
}